# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

# Env
.env
.venv/
venv/
ENV/
env/
env.bak/

# Uploads and media
uploads/
media/

# Logs
*.log

# Editor/IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db


video.mp4
config.json

prompt/